*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
!src/**/build/

#ignore Gradle GUI config
gradle-app.setting

#Avoid Ignoring Gradle Wrapper Jar File
!gradle-wrapper.jar

#cache Of Project
.gradletasknamecache


# #Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties